@media (min-width: 575px) {
    .submit-btn {
        .ant-form-item-control-input-content > button {
            margin-left: 50%;
        }
    }
    .calc-title{
        margin-left: 23%;
    }
}

.calc-title {
    font-weight: 600;
    font-size: 40px;
    background: var(--rp-home-hero-name-background);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: var(--rp-home-hero-name-color);
}